<% include partials/coachesHeader.ejs %>
<div class="jumbotron">
  <h1 class="display-5">Comments</h1>
<% coaches_comments.forEach(function(comment) { %>
<div class="card text-white bg-primary mb-3" style="max-width: 70rem;">
  <div class="card-header"><%= comment.player_name %> - <%= comment.season %></div>
  <div class="card-body">
    <p class="card-text"><%= comment.comment %></p>

		<button type="button" class="btn btn-secondary">Remove <%= comment.player_name %> - <%= comment.season %> from Quick List</button>
  </div>
</div>
<p>
</p>
<% }); %>
