<% include partials/coachesHeader.ejs %>
<div class="jumbotron">
<% include partials/messages.ejs %>
<h1>About You</h1>
<p>Season: <b><%= ipdp.season %></b></p>
<p>Nickname: <b><%= ipdp.nickname %></b></p>
<p>Two Non-Soccer Facts About You:</p>
<p><b><%= ipdp.non_soccer_facts %></b></p>
<p>What do you like most About Living in Montana:</p>
<p><b> <%= ipdp.living_in_montana %></b></p>
<p>If you Could Live Anywhere in the World, Where Would it be:</p>
<p><b><%= ipdp.live_anywhere_in %></b></p>

<h1>About You</h1>
<p>What are your Favorite Positions:<b><%= ipdp.favorite_position %></b></p>
<p>Why are These Your Favorite Positions:</p>
<p><b><%= ipdp.favorite_position_description %></b></p>
<p>What Positions do you Feel you are Best at:<b><%= ipdp.best_position %></b></p>
<p>Why do you Think These are your Best Positions:</p>
<p><b><%= ipdp.best_position_description %></b></p>

<h1>Technical Skills-Field Player</h1>
<p>First Touch:<b> <%= ipdp.first_touch %></b></p>
<p>Dribbling:<b> <%= ipdp.dribbling %></b></p>
<p>Short Passing:<b> <%= ipdp.short_passing %></b></p>
<p>Long Passing:<b> <%= ipdp.long_passing %></b></p>
<p>Shooting/Finishing:<b> <%= ipdp.shooting %></b></p>
<p>Tackling:<b> <%= ipdp.tackling %></b></p>
<p>Shielding:<b> <%= ipdp.shielding %></b></p>

<h1>Technical Skills-Goal Keeper</h1>
<p>Shot Stopping:<b> <%= ipdp.shot_stopping_gk %></b></p>
<p>Balls in the Air:<b> <%= ipdp.balls_in_air_gk %></b></p>
<p>Handling/Catching:<b> <%= ipdp.handling_gk %></b></p>
<p>Break Aways:<b> <%= ipdp.break_aways_gk %></b></p>
<p>Positioning:<b> <%= ipdp.positioning_gk %></b></p>
<p>Playing with Feet:<b> <%= ipdp.playing_feet_gk %></b></p>
<p>Distribution:<b> <%= ipdp.distribution_gk %></b></p>

<h1>Tactical Abilities</h1>
<p>Anticipation:<b> <%= ipdp.anticipation %></b></p>
<p>Positioning:<b> <%= ipdp.positioning %></b></p>
<p>Reading the Play:<b> <%= ipdp.reading_play %></b></p>
<p>Speed of Play:<b> <%= ipdp.speed_play %></b></p>
<p>Movement off the Ball:<b> <%= ipdp.movement_off_ball %></b></p>

<h1>Physicality</h1>
<p>Strength:<b> <%= ipdp.strength %></b></p>
<p>Quickness:<b> <%= ipdp.quickness %></b></p>
<p>Top Speed:<b> <%= ipdp.top_speed %></b></p>
<p>Endurance:<b> <%= ipdp.endurance %></b></p>
<p>Coordination:<b> <%= ipdp.coordination %></b></p>

<h1>Connection</h1>
<p>I Feel Close to my Coaches:<b> <%= ipdp.close_to_coaches %></b></p>
<p>I Feel Committed to my Coaches:<b> <%= ipdp.feel_commited_coaches %></b></p>
<p>I Feel That my Sport Career is Promising With my Coaches:<b> <%= ipdp.sport_career_promising %></b></p>
<p>I Like my Coaches:<b> <%= ipdp.like_coaches %></b></p>
<p>I Trust my Coaches:<b> <%= ipdp.trust_coaches %></b></p>
<p>I Feel Appreciation for the Sacrifices my Coaches Have Experienced in Order to Improve their Performance:<b> <%= ipdp.appreciate_coaches %></b></p>
<p>I Respect my Coaches:<b> <%= ipdp.respect_coaches %></b></p>
<p>When I am Coached by my Coaches, I Feel at Ease:<b> <%= ipdp.feel_ease_coached %></b></p>
<p>When I am Coached by my Coaches, I Feel Responsive to Their Efforts:<b> <%= ipdp.responsive_coached %></b></p>
<p>When I am Coached by my Coaches, I am Ready to do my Best:<b> <%= ipdp.coached_ready %></b></p>
<p>When I am Coached by my Coaches, I Adopt a Friendly Stance:<b> <%= ipdp.coached_friendly %></b></p>

<h1>Connection Part 2</h1>
<p>Name Three Players you Enjoy Playing with the Most:</p>
<p><b> <%= ipdp.player_1 %>, <%= ipdp.player_2 %>, <%= ipdp.player_3 %></b></p>

<h1>Confident</h1>
<p>I am Concerned that I may not do as well in this Competition as I Could:<b> <%= ipdp.concerned_not_do_well %></b></p>
<p>I Feel Self-Confident:<b> <%= ipdp.i_feel_confident %></b></p>
<p>I'm Confident I can Meet the Challenge:<b> <%= ipdp.confident_can_meet_challenge %></b></p>
<p>I am Concerned About Choking Under Pressure:<b> <%= ipdp.concerned_choking %></b></p>
<p>I am Confident About Performing Well:<b> <%= ipdp.confident_performing %></b></p>
<p>I am Concerned About Performing Poorly:<b> <%= ipdp.concerned_performing_poorly %></b></p>
<p>I am Confident Because I can Mentally Picture Myself Reaching my Goals:<b> <%= ipdp.confident_mentally_picturing %></b></p>
<p>I'm Concerned that Others will be Disappointed with my Performance:<b> <%= ipdp.concerned_others_disappointed %></b></p>
<p>I am Confident of Coming Through Under Pressure:<b> <%= ipdp.confident_under_pressure %></b></p>

<h1>Character</h1>
<p>Give Positive Feedback to a Team-mate:<b> <%= ipdp.give_positive_feedback %></b></p>
<p>Encourage a Team-mate:<b> <%= ipdp.encourage_teammate %></b></p>
<p>Give Constructive Feedback to a Team-mate:<b> <%= ipdp.give_constructive_feedback %></b></p>
<p>Congratualate a Teammate for Good Play:<b> <%= ipdp.congratulate_teammate %></b></p>
<p>Help an Opponent off the Ground:<b> <%= ipdp.help_opponent_ground %></b></p>
<p>Ask to Stop Player When an Opponent is Injured:<b> <%= ipdp.opponent_injured %></b></p>
<p>Help an Injured Opponent:<b> <%= ipdp.help_injured_opponent %></b></p>
<p>Argue with a Team-mate:<b> <%= ipdp.argue_with_teammate %></b></p>
<p>Verbally Abuse a Team-mate:<b> <%= ipdp.verbally_abuse_teammate %></b></p>
<p>Critisize Team-mate:<b> <%= ipdp.critisize_teammate %></b></p>
<p>Yell at Team-mate:<b> <%= ipdp.yell_at_teammate %></b></p>
<p>Show Frustration at a Team-mate's Poor Play:<b> <%= ipdp.show_frustration %></b></p>
<p>Critisize Opponent:<b> <%= ipdp.critisize_opponent %></b></p>
<p>Deliberately Foul an Opponent:<b> <%= ipdp.foul_opponent %></b></p>
<p>Retaliate After a bad Foul:<b> <%= ipdp.retaliate_after_foul %></b></p>
<p>Try to Wind up an Opponent:<b> <%= ipdp.wind_up_opponent %></b></p>
<p>Try to Injure an Opponent:<b> <%= ipdp.try_injure_opponent %></b></p>
<p>Intentionally Distract an Opponent:<b> <%= ipdp.intentionally_distract_opponent %></b></p>
<p>Intentionally Break the Rules of the Game:<b> <%= ipdp.intentionally_break_rules %></b></p>
<p>Physically Intimidate an Opponent:<b> <%= ipdp.physically_intimidate_opponent %></b></p>

<h1>Goals</h1>
<p>Short Term Goals (during this current season):</p>
<p><b><%= ipdp.short_term_goals %></b></p>
<p>Long Term Goals (beyond this current season):</p>
<p><b><%= ipdp.long_term_goals %></b></p>

<h1>Final Thoughts</h1>
<p>What can the Coaches do to Help you Reach Your Goals:</p>
<p><b><%= ipdp.what_can_coaches_do %></b></p>
<p>Anything you want to say to Coaches:</p>
<p><b> <%= ipdp.want_to_say %></b></p>


<form action='/coaches/player/ipdp/<%= ipdp.url %>' method="post">

<div class="form-group">
      <label for="coaches_feedback"><h1>Coaches Comments</h1></label>
      <textarea class="form-control" id="coaches_feedback" name="coaches_feedback" rows="3"></textarea>
</div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
