<p>coaches name: <%= coaches_name %></p>
<p>coach id: <%= comment.coach_id %></p>
<p>player id: <%= comment.player_id %></p>
<p>season: <%= comment.season %></p>
<p>comment: <%= comment.comment %></p>
<p>read: <%= comment.read %></p>
